body {
  font-family: "Berlingske Sans", "Arial", sans-serif;
  margin: 0;
}

.page {
  margin-left: 150px;
  padding: 50px;
}

p {
  color: black;

}

.responsive {
  max-width: 100%;
  height: auto;
}

figure {
  float: right;
  width: 260px;
  margin: 10px;
}

figcaption {
  text-align: left;
  font-size: .8em;
  font-style: italic;
}

h3,
h2,
h1 {

  /* USC garnet*/

  color: #73000a;

}

.centerlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  height: 10%;
}

.alex {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 30%;
}

table {
  width: 75%;
  margin: auto;
}

#navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: #333;
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul {
  list-style-type: square;
}

#navigation li {
  float: left;

}

#navigation li a {
  display: block;
  color: #ffffff;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  text-decoration: none;
  width: 134px;

}

li a.active {
  background-color: #73000a;
}

/* Change the link color to #111 (black) on hover */
#navigation li :hover {
  background-color: #73000a;
}

/* ABOUT-US */
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: left;
  margin: 20px auto;
  margin-bottom: 20px;
  padding: 10px;
  max-width: 800px;
}

.profile-card {
  width: 100%;
  height: 150px;
  object-fit: cover;
  display: block;
  margin: auto;
}

.profile-name{
  color: #73000a;
}

figure {
  width: 150px;
  margin: 0 auto;
  flex-shrink: 0;
  float: left;
}

figcaption {
  background-color: #222;
  color: #fff;
  padding: 3px;
  text-align: center;
  font-style: normal;
}

.profile-details {
  flex: 1;
  margin-left: 20px;
}

.profile-details p {
  margin: 5px 0;
}

.profile a {
  color: #73000a;
  text-decoration: none;
  font-weight: 800;
}

.profile a:hover {
  text-decoration: underline;
}

.profile-divider {
  border: #ddd solid 1px;
  width: 800px;
}

.navigation-divider {
  border: #222 solid 1px;
  margin: 0;
}