/* Update font, maybe?
body {
  font-family: "Berlingske Sans", "Arial", sans-serif;
} */

p {
  color: black;

}

.responsive {
  max-width: 100%;
  height: auto;
}

figure {
  float: right;
  width: 260px;
  margin: 10px;
}

figcaption {
  text-align: left;
  font-size: .8em;
  font-style: italic;
}

h3,
h2,
h1 {

  /* USC garnet*/

  color: #73000a;

}

.centerlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  height: 10%;
}

.alex {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 30%;
}

table {
  width: 75%;
  margin: auto;
}

#navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul {

  list-style-type: square;

}

#navigation li {
  float: left;

}

#navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navigation li :hover {
  background-color: #73000a;
}

/* ABOUT-US */
.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
}

.profile-card {
  width: 100%;
  height: 150px;
  object-fit: cover;
  display: block;
  margin: auto;
}

.profile-name{
  font-weight: 800;
  color: #73000a;
  font-size: large;
}

figure {
  border: thin solid #222;
  width: 150px;
  margin: 0 auto;
  flex-shrink: 0;
}

figcaption {
  background-color: #222;
  color: #fff;
  padding: 3px;
  text-align: center;
  font-style: normal;
}

.profile-details {
  flex: 1;
  margin-left: 20px;
}

.profile-details p {
  margin: 5px 0;
}

.profile a {
  color: #73000a;
  text-decoration: none;
  font-weight: 800;
}

.profile a:hover {
  text-decoration: underline;
}
